<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.css">
	<script src="/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
			<table class="table">
				<caption>留言板</caption>
				<thead>
				<tr>
					<td>name</td>
					<td>delete</td>
					<td>message</td>
					<td>time</td>
					</tr>
				</thead>	
				<% if not @message_vector.nil? %>
				<% @message_vector.each do |m| %>
					<% user = UserData.find(m.id) %>
		
		<tbody>
			<tr>
				<td><%= user.name %></td>
				<td>
					<% if !session['username'].nil? && UserData.find(m.id).name == session['username'] %>
					<form method="post" action="/delete/<%= m.id %>">
							<button class="btn btn-warning" type="sumbit">delete</button>
					</form>
				</td>
				<% end %>
				<td><%= m.content %></td>
				<td>
						<% time = m.created_at.localtime %>
						<%= time.strftime("%Y-%m-%d %H:%M:%S") %>
				</td>
			</tr>
		</tbody>
<% end %>
<% end %>
<%= @error %>
</table>
</body>
</html>